<!DOCTYPE html>
<html lang = "en">

    <% include partials/page/jsdefaults.ejs %>
    <head>
        <% include partials/page/head.ejs %>
    </head>
    <% include partials/page/navbar.ejs %>

    <script src = "/angular/login.js"></script>

    <body ng-app = "loginApp" ng-controller = "loginControllers" ng-cloak>
        <div class = "container login">
            <h1><%= title %></h1>

            <form class="space" role = "form" ng-submit = "submitLogin()">
                <div class = "form-group">
                    <label>Username:</label>
                    <input type = "text"  placeholder = "Username" class = "form-control"  ng-model = "loginData.username" required>
                </div>
                <div class = "form-group">
                    <label>Password:</label>
                    <input type = "password" placeholder = "Password" class = "form-control" ng-model = "loginData.password" required>
                </div>
                <div align="center " >
                    <input class = "btn btn-primary" ng-show = "!loginLoading" type="submit" value = "Log In">
                </div>
            </form>

            <p class = "text-center" ng-show = "loginLoading">
                <span class = "fa fa-spinner fa-spin fa-3x"></span>
            </p>

            <div align = "center">
                <div class = "alert alert-success message"
                     ng-if = "loginStatusCode == 1">
                    {{loginMessage}}
                </div>
            </div>
            <div align = "center">
                <div class = "alert alert-danger message"
                     ng-if = "loginStatusCode == 2">
                    {{loginMessage}}
                </div>
            </div>


        </div>
    </body>
</html>