<!DOCTYPE html>
<html lang = "en">

    <% include partials/page/jsdefaults.ejs %>
    <head>
        <% include partials/page/head.ejs %>
    </head>
    <% include partials/page/navbar.ejs %>

    <script src = "/angular/workout.js"></script>

    <body ng-app = "workoutApp" ng-controller = "workoutControllers" ng-cloak>
        <div class = "container">
            <h1><%= title %></h1>

            <h3>Exercise Input</h3>

            <form class = "form-horizontal" ng-submit = "createExercise()">
                <fieldset>

                    <div class = "form-group">
                        <label class = "col-lg-2 control-label">Exercise Type</label>

                        <div class = "col-lg-10">
                            <div class = "radio">
                                <label><input ng-model = "exerciseData.superset" value = 1 type = "radio" name = "optradio">Single Workout</label>
                            </div>
                            <div class = "radio">
                                <label><input ng-model = "exerciseData.superset" value = 2 type = "radio" name = "optradio">Superset</label>
                            </div>
                            <div class = "radio">
                                <label><input ng-model = "exerciseData.superset" value = 3 type = "radio" name = "optradio">Tripleset</label>
                            </div>
                            <div class = "radio">
                                <label><input ng-model = "exerciseData.superset" value = 4 type = "radio" name = "optradio">Giantset</label>
                            </div>
                        </div>
                    </div>

                    <div class = "form-group" ng-if = "exerciseData.superset == 1 || exerciseData.superset == 2 || exerciseData.superset == 3 || exerciseData.superset == 4">
                        <label class = "col-lg-2 control-label">Exercise 1</label>

                        <div class = "col-lg-10">
                            <input type = "text" class = "form-control"
                                   ng-model = "exerciseData.exercise1" required>
                        </div>
                    </div>
                    <div class = "form-group" ng-if = "exerciseData.superset == 2 || exerciseData.superset == 3 || exerciseData.superset == 4">
                        <label class = "col-lg-2 control-label">Exercise 2</label>

                        <div class = "col-lg-10">
                            <input type = "text" class = "form-control"
                                   placeholder = "Exercise 2"
                                   ng-model = "exerciseData.exercise2" required>
                        </div>
                    </div>
                    <div class = "form-group" ng-if = " exerciseData.superset == 3 || exerciseData.superset == 4">
                        <label class = "col-lg-2 control-label">Exercise 3</label>

                        <div class = "col-lg-10">
                            <input type = "text" class = "form-control"
                                   placeholder = "Exercise 3"
                                   ng-model = "exerciseData.exercise3" required>
                        </div>
                    </div>
                    <div class = "form-group" ng-if = "exerciseData.superset == 4">
                        <label class = "col-lg-2 control-label">Exercise 4</label>

                        <div class = "col-lg-10">
                            <input type = "text" class = "form-control"
                                   placeholder = "Exercise 4"
                                   ng-model = "exerciseData.exercise4" required>
                        </div>
                    </div>
                    <div class = "form-group" align = "center">
                        <button ng-show = "!exerciseLoading" type = "submit" class = "btn btn-primary">Create Exercise
                        </button>
                    </div>
                </fieldset>
                <p class = "text-center" ng-show = "exerciseLoading">
                    <span class = "fa fa-spinner fa-spin fa-3x"></span>
                </p>

                <div align = "center">
                    <div class = "alert alert-success message"
                         ng-if = "exerciseStatusCode == 1">
                        {{exerciseMessage}}
                    </div>
                </div>
                <div align = "center">
                    <div class = "alert alert-danger message"
                         ng-if = "exerciseStatusCode == 2">
                        {{exerciseMessage}}
                    </div>
                </div>
            </form>

            <table style = "text-align:center;width: auto" class = "table table-bordered" ng-repeat = "workoutObject in workoutObjects">
                <tr>
                    <td rowspan = "2" style="vertical-align: middle"><strong>{{formatDate(workoutObject.timestamp)[0]}} <br>{{formatDate(workoutObject.timestamp)[1]}}</strong></td>
                    <td style = "width: 130px;" ng-repeat = "workoutSet in workoutObject.superset[0].workoutSet" colspan = "2"
                        ng-style = "$index % 2 == 0 ? {'background-color': ' #f0f0f5'} : {'background-color': 'white'}">Set {{$index + 1}} <br>
                        <span style = "font-size: 25px; margin-left: 5px"><i class = "fa fa-edit" style = "cursor: pointer" ng-click = "toggleEdit(workoutObject, $index)"></i></span>
                    </td>
                    <td rowspan = "{{workoutObject.superset.length + 2}}" style = "width: 50px; vertical-align: middle; font-size: 25px">
                        <span style = "font-size: 25px" ng-show = "addSetLoadingArray[$index]" class = "fa fa-spinner fa-spin fa-3x"></span>
                        <span ng-show = "!addSetLoadingArray[$index]"><i class = "fa fa-plus-circle" style = "color: #1abc9c; cursor: pointer" ng-click = "addSet(workoutObject, $index)"></i></span>
                    </td>
                </tr>
                <tr>
                    <td style = "width: 65px"
                        ng-repeat-start = "workoutSet in workoutObject.superset[0].workoutSet"
                        ng-style = "$index % 2 == 0 ? {'background-color': ' #f0f0f5'} : {'background-color': 'white'}">Rep
                    </td>
                    <td style = "width: 65px"
                        ng-style = "$index % 2 == 0 ? {'background-color': ' #f0f0f5'} : {'background-color': 'white'}"
                        ng-repeat-end>Weight
                    </td>
                </tr>
                <tr ng-repeat = "superset in workoutObject.superset">
                    <td style = "width: 250px">{{superset.workoutName}}</td>
                    <td ng-repeat-start = "workoutSet in superset.workoutSet"
                        ng-style = "$index % 2 == 0 ? {'background-color': ' #f0f0f5'} : {'background-color': 'white'}">{{workoutSet.rep}}
                    </td>
                    <td ng-repeat-end
                        ng-style = "$index % 2 == 0 ? {'background-color': ' #f0f0f5'} : {'background-color': 'white'}">{{workoutSet.weight}}
                    </td>
                </tr>

            </table>
            <modal title = "Edit Set" visible = "showModal"
                   style = "padding-top: 20%">
                <div align = "center">
                    <form class = "form-horizontal" ng-submit = "editSet()">
                        <table style = "text-align:center;width: auto;" class = "table table-bordered">
                            <tr>
                                <td>Name</td>
                                <td>Rep</td>
                                <td>Weight</td>
                            </tr>
                            <tr ng-repeat = "superset in editSetObject.superset">
                                <td style = "width: 200px;  vertical-align: middle">{{superset.workoutName}}</td>
                                <td><input style = "width: 65px" type = "text" class = "form-control"
                                           placeholder = "Rep"
                                           ng-model = "repData[$index]" required></td>
                                <td><input style = "width: 65px" type = "text" class = "form-control"
                                           placeholder = "Weight"
                                           ng-model = "weightData[$index]" required></td>
                            </tr>

                        </table>

                        <span style = "font-size: 25px" ng-show = "editSetLoading" class = "fa fa-spinner fa-spin fa-3x"></span>
                        <button style="margin-right: 50px"ng-show = "!editSetLoading" type = "submit" class = "btn btn-success">Save
                        </button>
                        <button type="button" style="margin-left: 50px" ng-show = "!editSetLoading" ng-click ="deleteSet(editSetObject, selectedIndex)" class = "btn btn-danger">Remove
                        </button>
                    </form>
                </div>
            </modal>
        </div>
    </body>
</html>