<div class = "navbar-wrapper">
    <header class = "navbar navbar-default navbar-fixed-top" id = "MainMenu">

        <div class = "container-fluid collapse-md" id = "navbar-main-container">
            <div class = "navbar-header">
                <a href = "/" class = "navbar-brand"><img src = "/images/logo.png"><span><strong style="color: #FDB813">FitTech</strong></span></a>
                <button class = "navbar-toggle" type = "button" data-toggle = "collapse" data-target = "#navbar-main">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
            </div>

            <nav class = "navbar-collapse collapse" id = "navbar-main">
                <ul class = "nav navbar-nav navbar-right">

                    <% if (typeof currentUser != 'undefined' && currentUser != "") { %>
                    <li><a href = "/workout">Workout</a></li>
                    <li><a href = "/cardio">Cardio</a></li>
                    <li><a href = "/weight">Weight</a></li>
                    <li class = "menu-item"><a href = "/logout"><i class = "fa fa-sign-out"></i>Sign Out (<%= currentUser %>) </a></li>
                    <% } else { %>
                    <li class = "menu-item"><a href = "/"><i class = "fa fa-sign-in"></i> Sign In</a></li>
                    <li class = "menu-item"><a href = "/register"><i class = "fa fa-pencil"></i> Register</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <!-- /.container-fluid -->
    </header>
</div><!-- /.navbar-wrapper -->